  /*Link de fuentes: como mucho 2 fuentes se recomienda*/

  /*Selector universal*/
  * {
    padding: 0px;
    margin: 0px;
  }

  body {
    background-color: #f9f9f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  header {
    background-color: white;

  }

  nav {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
  }

  main {}

  section {}

  /****** ACA ESTA LA PARTE DEL NAV *****/
  .navegador {
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .logo {
    border: solid 2px rgb(77, 77, 78);
    border-radius: 8px;
    padding: 2px;
  }

  .enlaceNav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
    text-decoration: none;
  }

  .desplegable {
    display: none;
    color: rgb(68, 66, 66);
    font-size: medium;
    border: solid 1px rgb(152, 152, 153);
    background-color: rgb(248, 241, 241);
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    /*para sacar el punto que geenera el li*/
  }

  .menu:hover .desplegable {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .botonesPrueba {
    border: none;
    border-radius: 25px;
    padding: 8px 12px;
    background: linear-gradient(to right, #99a1eb, #03039c);
    color: rgb(255, 255, 255);
  }

  .botonSesion {
    border: solid 2px rgb(120, 120, 236);
    border-radius: 25px;
    padding: 8px 12px;
    background: rgb(232, 235, 238);
    color: #1726ad
  }

  .botonSesion:hover {
    background: rgb(44, 139, 233);
    cursor: pointer;
  }

  .buscar {
    border: solid 1px rgb(119, 119, 124);
    border-radius: 25px;
    padding: 8px 12px;
    background: rgb(232, 233, 235);
    color: grey;
    font-style: oblique;
  }

  .adobe {
    border: solid 2px rgb(77, 77, 78);
    border-radius: 8px;
    padding: 2px;
  }


  /****** ACA EMPIEZA LA PARTE DONDE ESTA EL BANNER ******/

  section div img {
    display: flex;
    width: 190px;
  }

  .seccionUno {
    display: flex;
    background-color: red;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    position: relative;
    margin: auto;
    width: 1000px;
    height: 600px;
  }

  .botonesOcultos {
    display: flex;
    display: none;
    margin: 15px;
  }

  .seccionUno:hover .botonesOcultos {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 0;
    /* Bien a la izquierda */
    top: 0;
  }

  .btn {
    padding: 7px 5px;
    background-color: rgb(95, 90, 90);
    color: white;
    margin: 5px;
    border: solid rgb(37, 36, 36) 2px;
    border-radius: 25px;
    cursor: pointer;
  }

  /****** ACA EMPIEZA LA PARTE DONDE ESTA EASY DESIGN-SERVICE ******/

  .seccionDos {
    background-color: black;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    position: relative;
    width: 1000px;
    height: 300px;
    line-height: 35px;
    margin: auto;
  }

  .black {
    display: flex;
    justify-content: center;
    /* centra horizontalmente, si no está se va a la izquierda por defecto */
  }

  .meGusta {
    width: 100px;
    margin: 50px;
    margin-bottom: 25px;
  }

  .easy {
    text-align: center;
  }

  .tituloEasy {
    color: silver;
  }

  .publicado {
    color: silver;
  }

  /****** ACA EMPIEZA LA PARTE DONDE ESTA EL CARRUSEL ******/
  .seccionTres {
    background-color: rgb(46, 42, 42);
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    position: relative;
    width: 1000px;
    height: 450px;
    line-height: 35px;
    margin: auto;
  }

  .carrusel {
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .imagenCarrusel {
    margin-top: 120px;
    width: 250px;
    margin-left: 35px;
    margin-right: 35px;      
  }

  .variosPropietarios {
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    flex-direction: column;
  }

  .propietarios {
    color: white;
  }

  .seguir {
    background-color: rgb(73, 125, 238);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 6px 8px;
  }

  .seguir:hover{
    cursor: pointer;
  }