  /*Link de fuentes: como mucho 2 fuentes se recomienda*/

  /*Selector universal*/
  * {
      padding: 0px;
      margin: 0px;
  }

body{

}

header{

}

nav{

}

main{

}

.afiche{
    display: flex;
    align-items: center;
    justify-content: center;
}
